
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ActionName</title>
</head>
<body>
    <div>The controller is:@ViewBag.Controller</div> 
    <div>The action is:@ViewBag.Action</div>
    <div>
        @Html.ActionLink("This is an outgoing URL", "CustomVariable", new { myVar="Hello"})
    </div>
    <div>
        @Html.ActionLink("This target another controller","Index", "Admin");
    </div>
    <div>
        @Html.ActionLink("This target another controller with atributs", "Index", "Customer");
    </div>
    <div>
        @Html.ActionLink("This is an outgoing URL with html-atributs", "Index","Home", null, new { id="myAnchorId", @class="myCSSClass" })
    </div>
    <div>
        @Html.ActionLink("This is full outside URL", "Index","Home",
       "https","myserver.mydomain.com","myFragmentName",
       new { id="myID"},
       new { id="myAnchorID", @class="myCSSClass"}
       )
    </div>
    <div>
        This is a URL:
        @Url.Action("Index","Home", new { id="myID"})
    </div>
    <div>
        @Html.ActionLink("Click me", "Index", "Customer")
    </div>
    <div>
        @Html.RouteLink("RouteLink method", "MyOtherRoute", "Index", "Customer")
    </div>
    <div>
        @Html.RouteLink("Atribute method", "Vasja",new { user="Vadim", id=123});
    </div>
    <div>
        This is a URL:
        @Html.ActionLink("Legacy routes", "GetLegacyURL", new {legacyURL= "~/articles/Windows_3.1_Overview.html" })
    </div>
</body>
</html>
